# .gitignore
# created on Fec 27, 2019

# ignore pyc files
*.pyc

# ignore virtualenv folder
/venv

# ignore auth.json file
/auth.json

# ignore provenance.html file
/provenance.html

# ignore .DS_Store
.DS_Store
